@model IEnumerable<StrongR.ReadStack.Workouts.WorkoutsForUser.Workout>
@{
    ViewData["Title"] = "Your workouts";
    Layout = "_AppLayout";
}

<div id="app"></div>

@section Scripts {
    <script asp-src-include="~/static/js/manifest.*.js"></script>
    <script asp-src-include="~/static/js/vendor.*.js"></script>
    <script asp-src-include="~/static/js/app.*.js"></script>
}
