@model IEnumerable<StrongR.ReadStack.Workouts.WorkoutsForUser.Workout>
@{
    ViewData["Title"] = "Your workouts";
}

<div class="col-sm-12">
    @Html.ActionLink("Start new workout", "Create", "Workout", null, new { @class = "btn btn-primary" })

    <h2>Previous workouts</h2>
    <div class="list-group">
        @foreach (var workout in Model)
        {
            <a asp-controller="Workout"
               asp-action="Detail" asp-route-id="@workout.Id"
               class="list-group-item">@workout.StartDateTime</a>
        }
    </div>
</div>




<nav aria-label="Page navigation">
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
