<!doctype html>
<html lang="en">
<head>
    <title>Stärk</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link asp-href-include="~/static/css/app.*.css" rel="stylesheet">
    
</head>
<body>
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
</html>
